{% extends  "home/base.html" %} 
{% load static %}
{% block sections %}
<section id="inner_page">
   <section class="main_full inner_page">
      <div class="container-fluid">
        <div class="row">
           <div class="full">
             <h3>About us</h3>    
           </div>
        </div>
      </div>
   </section>
    <!-- end section -->
  
   <!-- about section -->
    <section class="layout_padding section about_dottat">
       <div class="container">
          <div class="row">
             <div class="col-lg-12 text_align_center">
                <div class="full">
                   <p class="large"><br>
                      At Royal International School, we believe that every child deserves access to modern education, regardless of their background. Our curriculum is designed to provide students with a comprehensive and contemporary learning experience, incorporating the latest teaching methodologies and technologies. Our dedicated teachers are not only highly qualified but also deeply committed to making education affordable for all, generously subsidizing the cost to ensure that no child is left behind.
                      <br>                        
                      Our mission is to empower the next generation with the knowledge and skills they need to thrive in an ever-changing world. We strive to create a nurturing and inclusive environment where students can explore their potential, develop critical thinking, and become responsible global citizens.
                      <br>                        
                      Join us at Royal International School, where we are building a brighter future, one student at a time</p>
                </div>
             </div>
             <div class="col-md-12">
                <div class="about_img margin_top_30  text_align_center">
                   <img src="{% static 'home/images/ab_img.png' %}" alt="#" />
                </div>
             </div>
          </div>
       </div>
    </section>
</section>
{% endblock sections %}

      
      <!-- section -->


      <!-- end about section -->

      <!-- section -->
      {% comment %} <section class="layout_padding section">
         <div class="container">
            <div class="row">
               <div class="col-lg-12 text_align_center">
                  <div class="full heading_s1">
                     <h2>Our Courses</h2>
                  </div>
                  <div class="full">
                     <p class="large">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</p>
                  </div>
               </div>
            </div>
            <div class="row">

              <div class="col-md-4 text_align_center">
                 <div class="cours">
                   <img class="img-responsive" src="images/cour1.png" alt="#" />
                 </div>
                 <h3>Design</h3>
                 <p>adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in re</p>
              </div>  

              <div class="col-md-4 text_align_center">
                 <div class="cours">
                   <img class="img-responsive" src="images/cour2.png" alt="#" />
                 </div>
                 <h3>Coding</h3>
                 <p>adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in re</p>
              </div> 

              <div class="col-md-4 text_align_center">
                 <div class="cours">
                   <img class="img-responsive" src="images/cour3.png" alt="#" />
                 </div>
                 <h3>Javascript</h3>
                 <p>adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in re</p>
              </div> 

            </div>
            <div class="row">
               <div class="col-md-12">
                  <div class="full center">
                      <a class="blue_bt" href="#">Read More</a>
                  </div>
               </div>
            </div>
         </div>
      </section> {% endcomment %}
      <!-- end section -->
  
      <!-- section -->
      {% comment %} <section class="section blue_pattern_bg" style="background-color: #3b3bff;">
         <div class="container">
            <div class="row">
               <div class="col-md-6">
                  <div class="full">
                     <h4>Subscribe Now to Our Newsletter !</h4>
                     <p>adipiscing elit, sed do eiusmod tempor incididunt ut<br>labore et dolore magna aliqua.</p>
                  </div>
               </div>
               <div class="col-md-6">
                 <div class="form_subribe">
                    <form>
                       <input type="email" name="email" placeholder="Enter Your Email" />
                       <button>Subscribe</button>
                    </form>
                 </div>
               </div>
            </div>
         </div>
      </section> {% endcomment %}
      <!-- end section -->
