<!-- add_blog_post.html -->

{% comment %} {% extends "home/base.html" %} {% endcomment %}
{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'home/css/form.css' %}">

    </head>
    <body style="width:100%; overflow-x:hidden;">
        <header>
            <div>
                <img src="{% static 'home/images/logo.png' %}"  alt="Royal International School" style="margin-left:50%; width:10%"/>
            </div>
        </header>
                <section>
                    <div>
						<div class="row">
							<div class="col-md-6 col-md-offset-3 col-md-pull-3 animate-box">
								<span class="heading-meta">Make a Post</span>
								<h2 class="ACJ-heading">Publish</h2>
							</div><br><br>
						</div>
                            <form method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="id_title">Title:</label>
                                    {{ form.title }}
                                </div><br><br>
                                <div class="form-group">
                                    <label for="id_content">Content:</label>
                                    {{ form.content }}
                                </div><br><br>
                                                                
                                    <div class="form-group">
                                        <label for="id_image">Image:</label>
                                        <div class="image-upload">
                                            <label for="file-input">
                                                <i class="icon-cloud-upload2" style="margin:auto"></i> Choose File
                                            </label>
                                            <input id="file-input" type="file" name="image" accept="image/*" onchange="previewImage(event)">
                                        </div>
                                        <img id="preview" src="#" alt="Image Preview" style="display: none; max-width: 100%;">
                                        <p class="drag-drop-text">Drag & drop an image here or click to upload.</p>
                                    </div>
                                <div class="form-group">
                                    <input type="submit" class="btn btn-primary btn-send-message" value="Upload">
                                </div>
                            </form>
                        </div>
                    </div>               
                </section>
                    <script>
                        function previewImage(event) {
                            var reader = new FileReader();
                            reader.onload = function() {
                                var output = document.getElementById('preview');
                                output.src = reader.result;
                                output.style.display = 'block';
                            };
                            reader.readAsDataURL(event.target.files[0]);
                        }
                    </script>

</body>