{% load static %}
<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- Basic -->
      {% block meta %}
      
      
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- Mobile Metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <!-- Site Metas -->
      <title>Royal International School</title>
      <meta name="keywords" content="Ogoli, Ugboju, Ogobia, Otukpo, Ohimini, Royal, International, School, Education, Rural, Academics, Vocational">
      <meta name="description" content="This is a website for Royal International School Ogoli-Ugboju">
      <meta name="author" content="Agbai C Joshua">
      {% endblock meta %}
      <!-- site icon -->
      {% block styles %}      
      <link rel="icon" href="images/fevicon.png" type="image/png" />
      <!-- Bootstrap core CSS -->
      <link href="{% static 'home/css/bootstrap.css' %}" rel="stylesheet">
      <!-- FontAwesome Icons core CSS -->
      <link href="{% static 'home/css/font-awesome.min.css' %}" rel="stylesheet">
      <!-- Custom animate styles for this template -->
      <link href="{% static 'home/css/animate.css' %}" rel="stylesheet">
      <!-- Custom styles for this template -->
      <link href="{% static 'home/css/style.css' %}" rel="stylesheet">
      <!-- Responsive styles for this template -->
      <link href="{% static 'home/css/responsive.css' %}" rel="stylesheet">
      <!-- Colors for this template -->
      <link href="{% static 'home/css/colors.css' %}" rel="stylesheet">
      <!-- light box gallery -->
      <link href="{% static 'home/css/ekko-lightbox.css' %}" rel="stylesheet">
      <!-- Icomoon Icon Fonts-->
		<link rel="stylesheet" href="{% static 'home/css/icomoon.css' %}">
      <!-- Flexslider  -->
		<link rel="stylesheet" href="{% static 'home/css/flexslider.css' %}">
      <link rel="stylesheet" href="{% static 'home/css/extra.css' %}">
      {% comment %} <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> {% endcomment %}
      <!-- Flexslider -->
      {% comment %} <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flexslider/2.7.2/flexslider.min.css">
      <script src="https://cdnjs.cloudflare.com/ajax/libs/flexslider/2.7.2/jquery.flexslider-min.js"></script> {% endcomment %}
      <!-- Owl Carousel -->
		<link rel="stylesheet" href="{% static 'home/css/owl.carousel.min.css' %}">
		<link rel="stylesheet" href="{% static 'home/css/owl.theme.default.min.css' %}">


      {% endblock styles %}
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
   </head>
   {% block body%}
   <body id="home_page" class="home_page">

      
      <!-- section -->
      <section id="school-hero" class="js-fullheight" data-section="home">
         <div class="flexslider js-fullheight">
             <ul class="slides">
                 <li style="background-image: url('{% static "home/images/slider_img1.png" %}');">
                     <div class="overlay"></div>
                     <div class="container-fluid">
                         <div class="row">
                             <div class="col-md-6 col-md-offset-3 col-md-pull-3 col-sm-12 col-xs-12 js-fullheight slider-text">
                                 <div class="slider-text-inner">
                                     <div class="desc">
                                         <h1>This Royal International Schools, Ogoli</h1>
                                         <p>Making rural children assets to their community and the society at large</p>
                                     </div>
                                 </div>
                             </div>
                         </div>
                     </div>
                 </li>
                 <li style="background-image: url('{% static "home/images/slider_img2.png" %}');">
                     <div class="overlay"></div>
                     <div class="container-fluid">
                         <div class="row">
                             <div class="col-md-6 col-md-offset-3 col-md-pull-3 col-sm-12 col-xs-12 js-fullheight slider-text">
                                 <div class="slider-text-inner">
                                     <div class="desc">
                                         <h1>This is Royal International Schools, Ogoli</h1>
                                         <p>Fostering a supportive universal learning environment</p>
                                     </div>
                                 </div>
                             </div>
                         </div>
                     </div>
                 </li>
                 <li style="background-image: url('{% static "home/images/slider_img3.png" %}');">
                     <div class="overlay"></div>
                     <div class="container-fluid">
                         <div class="row">
                             <div class="col-md-6 col-md-offset-3 col-md-pull-3 col-sm-12 col-xs-12 js-fullheight slider-text">
                                 <div class="slider-text-inner">
                                     <div class="desc">
                                         <h1 style="color:black">This is Royal International Schools, Ogoli</h1>
                                         <p style="background:black">Engaging methods for effective education</p>
                                     </div>
                                 </div>
                             </div>
                         </div>
                     </div>
                 </li>
             </ul>
         </div>
     </section>
     
      
      <!-- end section -->
    {% block sections %}
    
    {% endblock sections %}
    
    {% block footer %}
      <!-- footer -->
      <!--section-->
      {% include "home/include/contact.html" %}
      <!--end section-->
     <div class="cpy">
       <div class="container">
          <div class="row">
            <div class="col-md-12">
              <p><small>&copy; 
                 Copyright <script>document.write(new Date().getFullYear());</script> All rights reserved. Made with <i class="icon-heart" aria-hidden="true"></i> by The ACJ
              </p>
            </div>
          </div>
       </div>
     </div>
     <!-- end footer -->   
    {% endblock footer %}

    {% block Js %}
    <!-- Core JavaScript
         ================================================== -->
         <script src="{% static 'home/js/jquery.min.js' %}"></script>
         <script src="{% static 'home/js/tether.min.js' %}"></script>
         <script src="{% static 'home/js/bootstrap.min.js' %}"></script>
         <script src="{% static 'home/js/parallax.js' %}"></script>
         <script src="{% static 'home/js/animate.js' %}"></script>
         <script src="{% static 'home/js/ekko-lightbox.js' %}"></script>
         <script src="{% static 'home/js/custom.js' %}"></script>
         <!-- Flexslider -->
		   <script src="{% static 'home/js/jquery.flexslider-min.js' %}"></script>
		   <!-- Owl carousel -->
		   <script src="{% static 'home/js/owl.carousel.min.js' %}"></script>
         <script src="{% static 'home/js/acj.js' %}"></script>

        
    {% endblock Js %}
   
   </body>
   {% endblock body %}
</html>
