{% extends  "home/base.html" %}  
{% load static %}    
     {% block sections %}
    <!-- about section -->
    <section class="layout_padding section about_dottat">
      <div class="container">
         <div class="row">
            <div class="col-lg-12 text_align_center">
               <div class="full heading_s1">
                  <h2>WE ARE RIS</h2>
               </div>
               <div class="full">
                  <p class="large">Welcome to Royal International School, a beacon of hope and progress in our rural community. Founded by [NAME], our school was established with a singular vision: to transform the lives of villagers by bringing quality education closer to home. &nbsp;  <a class="blue_bt" href="{% url 'home:about' %}">About us</a></p>
                  
               </div>
            </div>
            {% comment %} <div class="col-md-12 hideam">
               <div class="about_img margin_top_30  text_align_center">
                  <img src="{% static 'home/images/ab_img.png' %}" alt="#" />
               </div>
            </div> {% endcomment %}
         </div>
      </div>
   </section>
   <!-- end about section -->

   <!-- section -->
   <section class="layout_padding section">
      <div class="container">
         <div class="row">
            <div class="col-lg-12 text_align_center">
               <div class="full heading_s1">
                  <h2>Our Programs</h2>
               </div>
               <div class="full">
                  <p class="large">
                     At Royal International School, we offer a diverse range of programs designed to meet the educational needs of our community. Our goal is to provide students with the knowledge and skills necessary to succeed in today’s world. At Royal International School, we are committed to providing a well-rounded education that prepares our students for the future. Join us and be a part of our vibrant learning community &nbsp;  <a class="blue_bt" href="{% url 'home:about' %}">Read More</a></p>
               </div>
            </div>
         </div>
         <div class="row">

           <div class="col-md-4 text_align_center">
              <div class="oval-image">
                <img class="img-responsive" src="{% static 'home/images/oval1.png' %}" alt="#" />
              </div>
              <h3>Formal Basic Education</h3>
              <p>Our Formal Basic Education program covers the essential subjects such as Mathematics, Science, English, and Social Studies. We follow a modern curriculum that encourages critical thinking, creativity, and problem-solving skills. Our experienced teachers use innovative teaching methods to make learning engaging and effective.</p>
           </div>  

           <div class="col-md-4 text_align_center">
              <div class="oval-image">
                <img class="img-responsive" src="{% static 'home/images/oval2.png' %}" alt="#" />
              </div>
              <h3>Special Literacy Programs</h3>
              <p>We believe that literacy is the foundation of all learning. Our Literacy Programs are designed to help students of all ages improve their reading and writing skills. These programs are especially beneficial for adults and young learners who need additional support to achieve literacy proficiency.</p>
           </div> 

           <div class="col-md-4 text_align_center">
              <div class="oval-image">
                <img class="img-responsive" src="{% static 'home/images/oval3.png' %}" alt="#" />
              </div>
              <h3>Vocational Training</h3>
              <p>In addition to academic education, we offer Vocational Training programs that equip students with practical skills for various trades and professions. These programs include training in areas such as agriculture, carpentry, tailoring, and information technology. Our vocational training aims to empower students with the skills needed to secure employment and contribute to the local economy.</p>
           </div> 

         </div>
         <div class="row">
            <div class="col-md-12">
               <div class="full center">
                   <a class="blue_bt" href="#">Read More</a>
               </div>
            </div>
         </div>
      </div>
   </section>
   <!-- end section -->


   <!-- section -->
   <section class="layout_padding section">
      <div class="container-fluid">
         <div class="row">
            <div class="col-lg-12 text_align_center">
               <div class="full heading_s1">
                  <h2>Our Success Stories</h2>
               </div>
               <div class="full">
                  <p class="large">Success stories concerning the schoool goes here.<br> Success stories like the kid who was given a scholarship by the house of assembly reprensentative</p>
               </div>
            </div>
            <div class="col-md-12 testimonial">
               <div class="full text_align_center">
                  <img src="{% static 'home/images/testimon.png' %}" alt="#" />
                  <h3><span class="theme_color_text">Student A B C</span><br><small>Student</small></h3>
               </div>
               <div class="full margin_top_30 text_align_center">
                 <h4>I was offered a scholarship</h4>
                 <p>The story of the students' scholarship can go here, <br> the story is to be written in first person pronoun.</p>
               </div>
            </div>
         </div>
     </div>
   </section>
   <!-- end section -->

   <!--section-->
   <section class="ACJ-blog" data-section="blog">
      <div class="ACJ-narrow-content">
          <div class="row">
              <div class="col-md-6 col-md-offset-3 col-md-pull-3 animate-box" data-animate-effect="fadeInLeft">
                  <span class="heading-meta">Read</span>
                  <h2 class="ACJ-heading">Recent Blog Post</h2>
              </div>
          </div>
          <div class="row">
              {% for post in recent_posts %}
              <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
                  <div class="card">
                      <h3 class="card-title"><a href="{{ post.image_url }}" >{{ post.title }}</a></h3>
                      {% if post.image %}
                          <a href="{{ post.image.url }}" target="_blank">
                              <!-- Make the image responsive -->
                              <img class="card-img-top img-fluid" 
                                   src="{{ post.image.url }}" 
                                   alt="{{ post.title }}">
                          </a>
                      {% elif post.image_url %}
                          <a href="{{ post.image_url }}" target="_blank">
                              <!-- External image fallback -->
                              <img class="card-img-top img-fluid" 
                                   src="{{ post.image_url }}" 
                                   alt="{{ post.title }}">
                          </a>
                      {% else %}
                          <p>No image available for this post.</p>
                      {% endif %}
                      <div class="desc">
                          <span><small>{{ post.date_published }}</small> | <small>{{ post.category }}</small> | <small><i class="icon-bubble3"></i> 4</small></span>
                          <p>{{ post.content }}</p>
                      </div>
                  </div>
              </div>
              {% endfor %}
          </div>
      </div>
  </section>
  
   <!--end section-->

  

       
     {% endblock sections %}
 
